.logout-button {
  align-self: flex-start;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: auto;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c00;
}
